In [10]:
# importing packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import nsepy
import openpyxl
import hvplot.pandas
import os 

os.chdir(r'C:/Learning/Python practice')

%matplotlib inline

pd.options.plotting.backend='hvplot'

In [16]:
# getting raw file with date ranges

start=dt.date(1995,1,1)
end=dt.date(2020,2,14)

# sbi=nsepy.get_history('SBIN',start=start,end=end)
nifty=nsepy.get_history(symbol='NIFTY',start=dt.date(2019,1,1),end=dt.date(2020,1,1),index=True).reset_index()

# nifty.describe()
# nifty.Close.hvplot()
# # sbi['Close'].hvplot()

# nifty['Returns']=nifty.Close.pct_change()*100
# nifty['Cumulative']=nifty.Returns.pct_change()

In [17]:
# exporting file to excel to keep a copy

nifty.to_excel('C:/Learning/Python practice/nifty.xlsx',index=False)

In [18]:
# loading the same data again

nifty=pd.read_excel(r'C:\Learning\Python practice\nifty.xlsx')

nifty.tail(3)

          Date      Open      High      Low     Close     Volume      Turnover
243 2019-12-30  12274.90  12286.45  12213.8  12255.85  411084614  145567300000
244 2019-12-31  12247.10  12247.10  12151.8  12168.45  426931711  148128900000
245 2020-01-01  12202.15  12222.20  12165.3  12182.50  304078039  104456800000

In [20]:
# # creating datetime variable

# nifty['Date_time']=[dt.datetime.strptime(x,"%Y-%m-%d") for x in nifty['Date']]

# nifty.head(3)

In [21]:
# getting month year to be split at a later point

nifty_month=nifty.set_index(['Date']).resample('M')['Close','High','Low'].mean()

nifty_month['Month']=nifty_month.index.strftime('%m')

nifty_month['Year']=nifty_month.index.strftime('%Y')

nifty_month.head()

                   Close          High           Low Month  Year
Date
2019-01-31  10809.463043  10861.900000  10750.984783    01  2019
2019-02-28  10833.840000  10891.947500  10781.597500    02  2019
2019-03-31  11317.242105  11350.397368  11253.897368    03  2019
2019-04-30  11666.452632  11722.126316  11616.115789    04  2019
2019-05-31  11592.022727  11676.856818  11523.375000    05  2019

In [22]:
# month wise data for nifty

nifty_month.to_excel(r'C:\Learning\Python practice\Nifty_month.xlsx',index=True)

In [23]:
# plotting to see any patterns

nifty_month[['Close','Year']].hvplot()

:Curve   [Date]   (Close)

In [ ]:
# groupby to check any patterns

nifty_yearly=nifty_month.groupby(['Month'])['Close'].mean()

In [ ]:
# hvplot allows hovering

nifty_yearly.hvplot()

# Analyze day of the month analysis

In [12]:
# trying to see if day of a month has any effect on the direction of nifty 
# hypothesis days closer to the expiry has not much directional movement

nifty_month=nifty.set_index('Date_time').copy()

nifty_month.head()

nifty_month['Month']=nifty_month.index.strftime('%m')

nifty_month['Year']=nifty_month.index.strftime('%Y')

nifty_month['Day']=nifty_month.index.strftime('%d')

nifty_month['Week_Day']=nifty_month.index.strftime('%a')

nifty_month=nifty_month.reindex()

In [13]:
# checking if election years are any different from the other years

nifty_month['Election_year']=pd.Series(['Y' for i in nifty_month['Year'] if i in ['2009','2014','2019','2004',
                                                                                  '1999','1998','1996']])

nifty_month['Election_year']=nifty_month['Election_year'].replace(np.NaN,'N')

nifty_month['Election_year'].value_counts()

N    6753
Name: Election_year, dtype: int64

In [14]:
# grouping by day of week and month

nifty_month.groupby(['Month','Week_Day'],axis=0)['Returns']

In [20]:
# trying to create a function to automate and analyze user defined date/month combinations

group=nifty_month.groupby(['Day','Month'],axis=0)['Returns']

group_dict=dict(list(group))

def parser_func(day='06',month='01'):
    global group_dict
    print( group_dict[day,month])
    print("the average return for the day and month combination is {}".format(group_dict[day,month].mean()))
    print()

In [31]:
parser_func('24','06')

Date_time
1993-06-24   -0.213899
1994-06-24   -1.056969
1996-06-24   -0.919286
1997-06-24    0.138684
1998-06-24    3.757423
1999-06-24   -0.993169
2002-06-24   -0.065879
2003-06-24   -0.353470
2004-06-24    1.704585
2005-06-24    0.480802
2008-06-24   -1.764954
2009-06-24    1.081940
2010-06-24   -0.047904
2011-06-24    2.843045
2013-06-24   -1.365645
2014-06-24    1.159028
2015-06-24   -0.246971
2016-06-24   -2.198792
2019-06-24   -0.208545
Name: Returns, dtype: float64
the average return for the day and month combination is 0.09105388014001643

In [32]:
parser_func('25','06')

Date_time
1992-06-25   -0.937057
1993-06-25   -0.878416
1996-06-25   -1.656813
1997-06-25    0.571280
1998-06-25    2.603192
1999-06-25   -0.364006
2001-06-25   -1.898589
2002-06-25   -0.607430
2003-06-25    1.962501
2004-06-25    1.206867
2006-06-25    0.249778
2007-06-25    0.172858
2008-06-25    1.468588
2009-06-25   -1.190324
2010-06-25   -0.968876
2012-06-25   -0.610177
2013-06-25    0.337194
2014-06-25   -0.144455
2015-06-25    0.444333
2018-06-25   -0.548890
2019-06-25    0.827375
Name: Returns, dtype: float64
the average return for the day and month combination is 0.0018540402071889975

In [33]:
parser_func('26','06')

Date_time
1992-06-26   -0.423512
1995-06-26   -1.713569
1996-06-26   -0.703151
1997-06-26    0.542215
1998-06-26   -0.836775
2000-06-26   -1.395870
2001-06-26    2.774133
2002-06-26   -1.061209
2003-06-26    0.876519
2006-06-26   -3.511130
2007-06-26    0.617458
2008-06-26    1.486132
2009-06-26    3.150748
2012-06-26    0.120243
2013-06-26   -0.363695
2014-06-26   -1.004723
2015-06-26   -0.201238
2018-06-26    0.062253
2019-06-26    0.433181
Name: Returns, dtype: float64
the average return for the day and month combination is -0.06063103464338979

In [34]:
parser_func('27','06')

Date_time
1994-06-27   -0.996007
1995-06-27   -0.532090
1996-06-27    0.638478
1997-06-27    0.124123
2000-06-27    0.182551
2001-06-27   -0.045595
2002-06-27    0.416587
2003-06-27    0.824114
2005-06-27    0.248365
2006-06-27    1.333582
2007-06-27   -0.507502
2008-06-27   -4.152137
2011-06-27    1.011652
2012-06-27    0.412045
2013-06-27    1.675703
2014-06-27    0.208189
2016-06-27    0.075415
2017-06-27   -0.663711
2018-06-27   -0.907685
2019-06-27   -0.050643
Name: Returns, dtype: float64
the average return for the day and month combination is -0.03522834304498125

In [35]:
parser_func('28','06')

Date_time
1993-06-28   -1.931191
1994-06-28    0.897734
1995-06-28    1.080220
1996-06-28   -0.443656
1999-06-28    1.291419
2000-06-28    1.079557
2001-06-28   -0.191588
2002-06-28    0.882171
2004-06-28    1.736648
2005-06-28   -1.361487
2006-06-28   -0.045265
2007-06-28    0.423316
2010-06-28    1.223181
2011-06-28    0.338364
2012-06-28    0.140998
2013-06-28    2.813097
2016-06-28    0.409527
2017-06-28   -0.211851
2018-06-28   -0.771220
2019-06-28   -0.445043
Name: Returns, dtype: float64
the average return for the day and month combination is 0.34574645586342867

In [36]:
parser_func('30','06')

Date_time
1993-06-30    0.868908
1994-06-30   -1.084599
1995-06-30   -1.228948
1997-06-30    1.945026
1998-06-30   -0.784954
1999-06-30   -0.302191
2000-06-30   -1.400476
2003-06-30    0.764071
2004-06-30   -0.836462
2005-06-30    1.320923
2006-06-30    4.346376
2008-06-30   -2.323136
2009-06-30   -2.273995
2010-06-30    1.072077
2011-06-30    0.838325
2014-06-30    1.365731
2015-06-30    0.602279
2016-06-30    1.020843
2017-06-30    0.176766
Name: Returns, dtype: float64
the average return for the day and month combination is 0.21508239572331175

In [37]:
parser_func('29','06')

Date_time
1993-06-29    2.046324
1994-06-29   -1.759271
1995-06-29   -0.380792
1998-06-29    2.677557
1999-06-29   -0.075491
2000-06-29    1.520408
2001-06-29    1.270567
2004-06-29    0.260838
2005-06-29    1.004678
2006-06-29    0.563550
2007-06-29    0.847735
2009-06-29    0.353103
2010-06-29   -1.450267
2011-06-29    0.994536
2012-06-29    2.519833
2015-06-29   -0.748112
2016-06-29    0.936902
2017-06-29    0.135388
2018-06-29    1.182348
Name: Returns, dtype: float64
the average return for the day and month combination is 0.6263070153326042

# Use only month

In [ ]:
# creating same function with only month and removing day of month

def parser_func_month(month='01'):
    global group_dict
    print( group_dict[month])
    print("the average return for the day and month combination is {}".format(group_dict[month].mean()))
    print()

In [ ]:
nifty_month.groupby(['Month','Year'],axis=0)['Returns'].mean().unstack().hvplot()

In [ ]:
nifty_month.groupby(['Month','Year'],axis=0)['Returns'].median()['08']

In [ ]:
nifty_month[(nifty_month.Month=="08")&(nifty_month.Year=="2018")]